{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">

        <div class="card">
            <div class="card-header">
                Автор {{ post.user }}
            </div>
            <div class="card-body">
              <h6 class="card-title"><a href="{{ post.file.url}}">Скачать</a></h6>
              <p class="card-text">{{ post.description }}</p>
            </div>
          </div>
          <br>

<br>
<br>
<br>


 <form action='{% url "detail" post.id %}' method="post">
  {% csrf_token %}
  {{ form.as_p  }}
  <button>отправить</button>
  
 </form>   
 
 {% for comment in comments %}
 {{ comment.user }}
 {{ comment.title }}
 {{ comment.data }}
 {% endfor %}

</div>



{% endblock %}

