{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
    {% for post in posts %}
        <div class="card">
            <div class="card-header">
                Автор   {{ post.user }}
            </div>
            <div class="card-body">
              <h6 class="card-title"><a href="{{ post.file.url}}">Скачать</a></h6>
              <p class="card-text">{{ post.description }}</p>
              <a href="{% url 'detail' post.pk %}" class="btn btn-primary">Подробнее</a>
            </div>
          </div>
          <br>
        {% endfor %}    
      </div>

</center>
{% endblock %} 