<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
<center>
    <h1>Sign Up</h1>
    <form  method="post">
        <h5>Username: {{ form.username }} </h5>
        <h5>First name: {{ form.first_name }}</h5> 
        <h5>Last name: {{ form.last_name }}</h5>
        <h5>Email: {{ form.email }}</h5>
        <h5>Password: {{ form.password1 }}</h5>
        <h5>Config password: {{ form.password2 }}</h5>
        {% csrf_token %} 
        <br>
        <br>
        <button>Создать аккаунт</button>
    </form>
</center>
</body>
</html>